<!DOCTYPE html>

<nav style="text-align: center; padding: 10px;">
	<a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30100/artists/add">Add artist</a>
	<a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30100/artists">Artists list</a>
	<a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30100/songs/add">Add song</a>
	<a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30100/songs">Songs list</a>
	<a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30101/users/add">Add user</a>
	<a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30101/users">Users list</a>
</nav>
<hr>

<div style="padding: 10px; width: 20%; margin: auto;">
<h2 style="padding: 10px; text-align: center;">Delete like</h2>

<form method="post" style="padding: 10px">
	<label for="userName">User name</label><br>
	<input type="text" name="userName" placeholder="User Name" value="{{ request.form['userName'] }}" style="width: 100%;"></input><br><br>
	
	<button type="submit" style="position: absolute; left: 50%; transform: translateX(-50%);">Delete</button><br><br>
</form>
</div>

