<!DOCTYPE html>

<nav style="text-align: center; padding: 10px;">
	<a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30100/artists/add">Add artist</a>
	<a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30100/artists">Artists list</a>
	<a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30100/songs/add">Add song</a>
	<a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30100/songs">Songs list</a>
	<a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30101/users/add">Add user</a>
	<a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30101/users">Users list</a>
</nav>
<hr>

<div style="padding: 10px; width: 50%; margin: auto;">
<h2 style="padding: 10px; text-align: center;">Comments List</h2>

<table style="border-collapse: collapse; width: 100%; padding: 10px; margin: auto;">
	<tr style="border-bottom: 1px solid black; border-top: 1px solid black;">
		<th style="padding: 10px; text-align: left;">Comment ID</th>
		<th style="padding: 10px; text-align: left;">User Name</th>
		<th style="padding: 10px; text-align: left;">Song Name</th>
		<th style="padding: 10px; text-align: left;">Comment</th>
	</tr>
{% for comment in comments %}
	<tr style="border-bottom: 1px solid black;">
		<td style="padding: 10px;">{{ comment['comment.id'] }}</td>
		<td style="padding: 10px;">{{ comment['user.name'] }}</td>
		<td style="padding: 10px;">{{ comment['song.name'] }}</td>
		<td style="padding: 10px;">{{ comment['comment.comment'] }}</td>
		<td style="padding: 10px;"><a style="text-decoration: none; color:black; padding: 10px;" href="http://localhost:30103/comments/delete/{{comment['comment.id']}}">Delete</a></td>
	</tr>
{% endfor %}
</table>
</div>

